<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Search Engine</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<body>

<div class="container">
    <span>Moive Search Engine</span><br>
    <form name="search" action="{{url_for('search_v3')}}" method="post">
        <input name="query" type="text" class="textbox"><br>
        <input type="submit" name="submit" class="go_btn" value="Search">
    </form>
</div>


</body>
</html>